<head>
<link rel="stylesheet" href="https://site-hunter.ru/Infinitive_files/font-awesome.min.css">
<link rel="stylesheet" href="https://site-hunter.ru/Infinitive_files/all.css">
<title>Infinitive</title>
<script src="https://site-hunter.ru/Infinitive_files/jquery.js"></script>
</head><body>
<div class="wrapper">

<!-- Отображение меню и банера -->
<nav class="main__navbar">
<ul>
<a href="https://infinitiveclub.xyz/pages/index.php"><li title="Главная"><i class="fa fa-home" aria-hidden="true"></i></li></a><a href="https://infinitiveclub.xyz/pages/all/pages.php?page=articles"><li title="Статьи"><i class="fa fa-file-text-o" aria-hidden="true"></i></li></a><a href="https://infinitiveclub.xyz/pages/all/pages.php?page=apps"><li title="Приложения"><i class="fa fa-file-code-o" aria-hidden="true"></i></li></a><a href="https://infinitiveclub.xyz/pages/all/pages.php?page=rating"><li title="Рейтинг ЯП"><i class="fa fa-star" aria-hidden="true"></i></li></a><a href="https://infinitiveclub.xyz/pages/all/pages.php?page=gallery"><li title="Галерея"><i class="fa fa-picture-o" aria-hidden="true"></i></li></a><a href="https://infinitiveclub.xyz/pages/all/signin-signup.php"><li title="Вход/Регистрация"><i class="fa fa-user" aria-hidden="true"></i></li></a> </ul>
</nav>


 <content class="articles ">
<div class="container">
<div class="wrapper">

<!-- Отображение меню и банера -->
<nav class="main__navbar">
<ul>
<a href="https://infinitiveclub.xyz/pages/index.php"><li title="Главная"><i class="fa fa-home" aria-hidden="true"></i></li></a><a href="https://infinitiveclub.xyz/pages/all/pages.php?page=articles"><li title="Статьи"><i class="fa fa-file-text-o" aria-hidden="true"></i></li></a><a href="https://infinitiveclub.xyz/pages/all/pages.php?page=apps"><li title="Приложения"><i class="fa fa-file-code-o" aria-hidden="true"></i></li></a><a href="https://infinitiveclub.xyz/pages/all/pages.php?page=rating"><li title="Рейтинг ЯП"><i class="fa fa-star" aria-hidden="true"></i></li></a><a href="https://infinitiveclub.xyz/pages/all/pages.php?page=gallery"><li title="Галерея"><i class="fa fa-picture-o" aria-hidden="true"></i></li></a><a href="https://infinitiveclub.xyz/pages/all/signin-signup.php"><li title="Вход/Регистрация"><i class="fa fa-user" aria-hidden="true"></i></li></a> </ul>
</nav>


 <content class="articles ">
<header>
<div class="container">

<div class="header__logo">
<div class="logo__content">
<center><div class="logo__title"><span>Б</span><span>л</span><span>о</span><span>г</span></div></center>
</div>
</div>

</div>
</header>
<div class="container">
<div class="blocks">
<table>
					<tbody><tr>
						<th>Позиция сейчас</th>
						<th>Позиция месяц назад</th>
						<th>Изменение</th>
						<th>Язык программирования</th>
						<th>Популярность</th>
						<th>Изменение</th>
					</tr>
								</tbody><tbody class="zap" style="border-bottom: 2px solid #9A9CFE;">
						<tr>
							<td>1							</td>
							<td>1</td>
					
														<td style="color: green; font-weight: bold;">∧</td>
							
							<td>Java</td>
							<td>16.73</td>
							<td>+1.69</td>
						</tr>
					</tbody>
								<tbody class="zap" style="border-bottom: 2px solid #FFA349;">
						<tr>
							<td>2							</td>
							<td>2</td>
					
														<td style="color: green; font-weight: bold;">∧</td>
							
							<td>C</td>
							<td>14.30</td>
							<td>+0.12</td>
						</tr>
					</tbody>
								<tbody class="zap" style="border-bottom: 2px solid #9A9CFE;">
						<tr>
							<td>3							</td>
							<td>4</td>
					
														<td style="color: green; font-weight: bold;">∧</td>
							
							<td>Python 3</td>
							<td>9.31</td>
							<td>+2.17</td>
						</tr>
					</tbody>
								<tbody class="zap" style="border-bottom: 2px solid #FFA349;">
						<tr>
							<td>4							</td>
							<td>3</td>
					
														<td style="color: red; font-weight: bold;">∨</td>
							
							<td>C++</td>
							<td>6.78</td>
							<td>-2.06</td>
						</tr>
					</tbody>
								<tbody class="zap" style="border-bottom: 2px solid #9A9CFE;">
						<tr>
							<td>5							</td>
							<td>6</td>
					
														<td style="color: green; font-weight: bold;">∧</td>
							
							<td>C#</td>
							<td>4.00</td>
							<td>+1.23</td>
						</tr>
					</tbody>
								<tbody class="zap" style="border-bottom: 2px solid #FFA349;">
						<tr>
							<td>6							</td>
							<td>5</td>
					
														<td style="color: red; font-weight: bold;">∨</td>
							
							<td>Visual Basic</td>
							<td>4.72</td>
							<td>-1.07</td>
						</tr>
					</tbody>
								<tbody class="zap" style="border-bottom: 2px solid #9A9CFE;">
						<tr>
							<td>7							</td>
							<td>7</td>
					
														<td style="color: red; font-weight: bold;">∨</td>
							
							<td>JavaScript</td>
							<td>2.38</td>
							<td>-0.12</td>
						</tr>
					</tbody>
								<tbody class="zap" style="border-bottom: 2px solid #FFA349;">
						<tr>
							<td>8							</td>
							<td>9</td>
					
														<td style="color: green; font-weight: bold;">∧</td>
							
							<td>PHP</td>
							<td>2.37</td>
							<td>+0.13</td>
						</tr>
					</tbody>
								<tbody class="zap" style="border-bottom: 2px solid #9A9CFE;">
						<tr>
							<td>9							</td>
							<td>8</td>
					
														<td style="color: red; font-weight: bold;">∨</td>
							
							<td>SQL</td>
							<td>2.17</td>
							<td>-0.10</td>
						</tr>
					</tbody>
								<tbody class="zap" style="border-bottom: 2px solid #FFA349;">
						<tr>
							<td>10							</td>
							<td>12</td>
					
														<td style="color: green; font-weight: bold;">∧</td>
							
							<td>Ruby</td>
							<td>1.40</td>
							<td>+0.2</td>
						</tr>
					</tbody>
							</table>
</div>
</div>
